<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{$ailcc.ailcc_key}" />
	<meta name="description" content="{$ailcc.ailcc_des}" />
	<title>{$ailcc.ailcc_name}</title>
	<link rel="shortcut icon" href="{$ailcc.ailcc_url}/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="{$ailcc.ailcc_url}/static/index/css/plugin.css">
	<style>
	    .ailcc{background: url(https://ailcc.com/template/default/assets/images/other/hero.jpg);height: 920px;width: 100%;display:table;-moz-background-size:100% 100%;background-size:100% 100%;}
	    .ailcc .ailcc_dog{text-align: center;color: #fff;border:1px solid #000; width:760px;vertical-align:middle;display:table-cell;}
	    .ailcc .ailcc_dog a {color: #f00;}
	</style>
</head>
<body>
    <div class="ailcc">
        <div class="ailcc_dog">
            <h1>本站将在近期下线，源码整理好之后将上传至Gitee<br />Gitee地址：<a href="https://gitee.com/ailcc/" target="_blank">https://gitee.com/ailcc/</a></h1>
            <h3>感谢宅音乐的开源，以及后续二次开发中宅音乐原开发大佬的技术支持！</h3>
            <h3>感谢各位大佬在本站创建、出售及售后上的支持。</h3>
            <h4>感谢各位用户一直以来的支持，本站将在近期开源，后续更新将在gitee上进行。</h4>
            <h4>后续更新内容将在：《<a href="https://ailcc.com" target="_blank">https://ailcc.com/</a>》上发布。</h4><br />
            <h4>现在的离别是为了未来更好的相遇，再见，感谢各位近3年的相伴。</h4>
        <div>
    </div>
	<script src="{$ailcc.ailcc_url}/static/index/js/jquery.min.js"></script>
	<script id="ailcc" src="https://music.ailcc.com/player/js/player.js" key="51e72c3fbed14c34ac9c1a63af944150" m="1"></script>
</body>
</html>