	/*
  	Flaticon icon font: Flaticon
  	Creation date: 23/10/2019 12:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
line-height: normal;
}

.flaticon-upload:before { content: "\f100"; }
.flaticon-settings:before { content: "\f101"; }
.flaticon-calendar:before { content: "\f102"; }
.flaticon-shield:before { content: "\f103"; }
.flaticon-calendar-1:before { content: "\f104"; }
.flaticon-bell:before { content: "\f105"; }
.flaticon-cloud-storage-download:before { content: "\f106"; }
.flaticon-smiley:before { content: "\f107"; }
.flaticon-rating:before { content: "\f108"; }
.flaticon-support:before { content: "\f109"; }
.flaticon-target:before { content: "\f10a"; }
.flaticon-worldwide:before { content: "\f10b"; }
.flaticon-smartphone:before { content: "\f10c"; }
.flaticon-contract:before { content: "\f10d"; }
.flaticon-contract-1:before { content: "\f10e"; }